body{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-feature-settings: 'liga';
}

.bg-dark-gray{
	background: #6c6d6f;
}

.bg-white{
	background: #ffffff;
}

.bg-gray{
	background: #F2F2F2;
}

.bg-red{
	background: #C14D43;
	
}

.bg-blue{
	background: #35ACEB;
}

.row{
	width: 1480px;
	margin-left: auto;
	margin-right: auto;
}

.head{
	min-height: 700px;
	color: #ffffff;
}
.head a{
	color: #ffffff;
}

.header{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 37px 60px 35px;
}

.lang-section{
	grid-column: 12/13;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-self: center;
}

.lang-section a{
	text-decoration: underline;
	/* color: #FFFFFF; */
}

.explanation-block{
	grid-column: 1/7;
}

.contact-block{
	grid-column: 8/10;
	font-weight: 550;
	font-size: 23px;
	padding-right: 40px;
}
.contact-block-email,.contact-block-mobile{
	float:right;
}

.header-buttons{
	padding-top: 5px;
	grid-column: 10/13;
	grid-gap: 10px;
	display: grid;
	grid-template-columns: repeat(2,1fr);
}

.login-block{
	width: 100%;
}

.order-call-block{
	width: 100%;
}

.login-block button{
	background-color: #ED1C24;
	color: #ffffff;
	height: 43px;
	width: 100%;
	font-size: 21px;
	font-weight: 550;
	border: none;
}

.order-call-block button{
	color: #ffffff;
	background: inherit;
	border: 1px solid #dee2e6!important;
	height: 43px;
	width: 100%;
	font-size: 16px;
	font-weight: 550;
	border: none;
}

.naigation-block{
	grid-column: 1/9;
}

.naigation-block ul{
	padding-left: 0px;
}

.naigation-block ul li{
	display: inline;
	margin-right: 35px;
}

.naigation-block ul li a{
	font-size: 16px;
	font-weight: 550;
	text-transform: uppercase;
}

.dashboard{
	background: inherit;
	padding-left: 0px;
	color: #ffffff !important;
	margin-top: 50px;
}

.dashboard .dashboard-preview{
	font-size: 22px;
	font-weight: 500;
}

.dashboard .dashboard-main{
	margin: 15px auto;
	font-size: 60px;
	font-weight: 550;
}

.dashboard .dashboard-conclusion{
	font-size: 28px;
	font-weight: 500;
}

.dashboard .dashboard-advantages{
	font-size: 16px;
	margin-top: 25px;
}

.dashboard-button{
	font-size: 20px;
	line-height: 24px;
}

/* Control */
.control-block{
	padding-top: 85px;
}

.control-block-top-big{
	color: #35ACEB;
	font-size: 36px;
	line-height: 43px;
	font-weight: 800;
}

.control-block-top-middle{
	font-family: '__Rubik_5';
	font-size: 22px;
	line-height: 26px;
	font-weight: 650;
}

.control-block-top-small{
	font-family: '__Rubik_5';
	font-size: 16px;
	line-height: 30px;
}

.control-block-bottom{
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.control-block-title{
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 121px;
	font-size: 18px;
	line-height: 22px;
	color: #35ACEB;
	font-weight: 750;	
}

.control-block-text{
	padding-left: 25px;
	padding-right: 50px;
	padding-bottom: 100px;
	color: #505050;
	font-size: 13px;
	line-height: 16px;
}

/* get-reports */
.get-reports-block{
	margin-top: 85px;
	display: grid;
	grid-template-columns: 6fr 9fr;
}

.get-reports-left{
	position: relative;
}

.get-reports-img{
	position: absolute;
	top: -20px;
}

.get-reports-right{
	margin-top: 45px;
	margin-bottom: 45px;
}

.get-reports-text-big{
	font-size: 36px;
	font-weight: 750;
	line-height: 43px;
}

.get-reports-text-middle{
	font-size: 22px;
	font-weight: 550;
	line-height: 26px;
}

.get-reports-text-small{
	font-size: 16px;
    line-height: 19px;
}

.get-reports-button{
	color: #1A1A1A;
	font-size: 20px;
	border: none;
	font-weight: 550;
	padding: 20px 20px;
	margin-top: 55px;
}

/* support */
.support-block{
	margin-top: 125px;
}

.support-block-top{
	padding-left: 20px;
}

.support-block-top-big{
	color: #35ACEB;
	font-size: 36px;
	line-height: 43px;
	font-weight: 800;
}

.support-block-top-middle{
	font-family: '__Rubik_5';
	font-size: 22px;
	line-height: 26px;
	font-weight: 650;
}

.support-block-top-small{
	font-family: '__Rubik_5';
	font-size: 16px;
	line-height: 19px;
}

.support-block-bottom{
	margin-top: 65px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 100px;
}

.support-block-title{
	padding-left: 25px;
	padding-right: 25px;
	/* padding-top: 121px; */
	font-size: 18px;
	line-height: 22px;
	color: #35ACEB;
	font-weight: 750;
}

.support-block-text{
	padding-left: 25px;
	color: #505050;
	font-size: 13px;
	line-height: 21px;
}

/* free-demo */
.free-demo-block{
	margin-top: 125px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.free-demo-left{
	margin-top: 45px;
	margin-bottom: 45px;
}

.free-demo-right{
	position: relative;
}

.free-demo-img{
	position: absolute;
	top: -125px;
	left: 40px;
}

.free-demo-big{
	font-weight: 750;
	line-height: 43px;
	color: #35ACEB;
	font-size: 36px;
}

.free-demo-middle{
	font-size: 22px;
	line-height: 26px;
	font-weight: 550;
}

.free-demo-small{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
}

.free-demo-button{
	margin-top: 10px;
	font-size: 20px;
	font-weight: 550;
	text-align: center;
	line-height: 24px;
	padding: 13px 40px;
	border: none;
}
