.w-100{
	width: 100%;
}

$big: 85px;
$mid: 45px;
$clr_blue: #35ACEB;
$clr_gray: #F2F2F2;
$clr_white: #ffffff;
$shadow_block: 0 .5rem 1rem rgba(0,0,0,.15)!important;
$white_border: 1px solid #dee2e6 !important;
%header-big-texts{
	font-size: 36px;
	line-height: 43px;
	font-weight: 750;
	text-transform: uppercase;
}

%header-md-texts{
    font-size: 22px;
	line-height: 26px;
	font-weight: 650;
}

%header-sm-texts{
	font-family: '__Rubik_5';
	font-size: 16px;
	line-height: 19px;
}

%cards-block{
	display: grid;
	grid-gap: 100px;
	margin-top: 65px;
}

%card-title{
	font-weight: 750;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 22px;
}

%card-title-mlt-col{
	font-weight: 750;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
}

%block-with-right-img{
	display: grid;
	grid-template-columns: 9fr 3fr;
}

%block-with-left-img{
	display: grid;
	grid-template-columns: 3fr 9fr;	
}

%block-with-img-button{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 550;
    text-align: center;
    line-height: 24px;
    padding: 13px 40px;
}

%right_side_img{
	position: absolute;
	left: -393px;
	top: -330px;
	width: 1035px;
	height: 900px;
}


.develop-block{
	margin-top: $big;
	.develop-block-top-big{
		@extend %header-big-texts;
		color: #35ACEB;
	}
	.develop-block-top-middle{
		@extend %header-md-texts;
	}
	.develop-block-top-small{
		@extend %header-sm-texts;
	}
	.develop-block-title{
		@extend %card-title-mlt-col;
		color: #35ACEB;
	}
	.develop-block-bottom{
		@extend %cards-block;
		grid-gap: 70px;
		grid-column-gap: 70px;
		grid-template-columns: repeat(3,1fr);
	}
}

.keep-in-control-block{
	margin-top: $big;
	@extend %block-with-right-img;
	.keep-in-control-left{
		.keep-in-control-text-big{
			@extend %header-big-texts;
			margin-top: $mid;
		}
		.keep-in-control-text-middle{
			@extend %header-md-texts;
		}
		.keep-in-control-text-main{
			width: 645px;
			color: #FFFFFF;
			font-size: 22px;
			text-align: justify;
			line-height: 26px;
			font-family: '__Rubik_5';
			font-weight: 400;
		}
		.keep-in-control-button{
			@extend %block-with-img-button;
			background-color: $clr_blue;
			color: $clr_white;
			border: $white_border;
		}
	}
	.keep-in-control-right{
		position: relative;
		img.keep-in-control-img{
			@extend %right_side_img;
		}
	}
	padding-bottom: $mid;
}

